/* Header */
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: white;
  box-shadow: 0px 1px 30px rgb(0 0 0 / 25%);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.navbar {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family-title);
}
.navbar ul {
  display: inherit;
}
.navbar li {
  padding: 0.625rem 1.25rem;
}
.navbar a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--color-dark);
}
.navbar a.active {
  font-style: italic;
  font-weight: bold;
}
.navbar a.active,
.navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}
header.home {
  background-color: transparent;
  box-shadow: none;
  margin-top: calc(var(--header-height) * -1);
}
header.home .navbar a {
  color: var(--color-light);
}

.logo-mobile{
  max-width: 8rem;
}
.toggle-menu .icon{
  --size: 1.5rem;
}
.nav-menu {
  display: none;
  position: fixed;
  top: 6rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
  overflow-y: scroll;
  background-color: var(--color-base);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.144);
  z-index: 10;
}
.nav-menu.active {
  display: block;
}
.nav-links-mobile li,
.nav-links-sosmed li {
  padding: 0.5rem 0;
}
.nav-links-mobile li + li,
.nav-links-sosmed li + li {
  margin-top: 0.75rem;
}
.nav-links-mobile a,
.nav-links-sosmed a {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
}
.nav-links-mobile .icon,
.nav-links-sosmed .icon {
  --size:1.25rem;
}
.nav-partner {
  display: flex;
  mix-blend-mode: luminosity;
}
.nav-partner li+li{
  margin-left: 1rem;
}
.nav-partner .icon {
  --size: 7rem;
}
/* endHeader */

@media screen and (max-width: 480px) {
} /* Mobile */

@media screen and (min-width: 481px) {
  header.scrolled {
    --header-height: 6rem;
  }
  header.scrolled img {
    transform: scale(calc(2 / 3));
    transition: scale 0.3s ease-in-out;
  }
  header.home.scrolled {
    background: white;
    box-shadow: 0px 1px 30px rgb(0 0 0 / 25%);
  }
  header.home.scrolled .navbar a {
    color: var(--color-dark);
  }
  .nav-menu {
    display: none;
  }
}
