.form-control,
.form-select {
  background-color: var(--bg-form);
  border: thin solid var(--bg-border, #ced4da);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.form-control:focus,
.form-select:focus {
  color: #212529;
  background-color: var(--bg-form-focus);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 0.1);
}

@media (prefers-color-scheme: dark) {
  .form-control,
  .form-select {
    --bg-form: #8885;
    --bg-form-focus: grey;
  }
}
@media (prefers-color-scheme: light) {
  .form-control,
  .form-select {
    --bg-form: white;
  }
}
