.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075);
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: rgb(37, 37, 37);
  }
}
@media (prefers-color-scheme: light) {
  .header {
    background-color: white;
  }
}
