.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075);
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-info a {
  font-size: 1.25rem;
  color: var(--link-color, initial);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .header {
    --link-color: var(--color-light);
    background-color: rgb(37, 37, 37);
  }
}
@media (prefers-color-scheme: light) {
  .header {
    --link-color: var(--color-dark);
    background-color: white;
  }
}
