.nav-lists {
  --bs-nav-link-padding-y: 0.75rem;
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-color: rgb(255 255 255 / 0.6);
  list-style-type: none;
  padding-inline-start: 0;
}
.nav-menu {
  display: none;
  list-style-type: none;
  padding-inline-start: 0;
}
.nav-menu.active{
  display: block;
}
.nav-menu li {
  list-style-type: none;
  padding-inline-start: calc(1.25rem + var(--bs-nav-link-padding-x) + 0.75rem);
}

.nav-link {
  position: relative;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0.75rem;
  align-items: center;
  margin-left: -1rem;
  margin-right: -1rem;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  --bs-nav-link-color: rgb(255 255 255 / 1);
  --bs-nav-link-hover-color: rgb(255 255 255 / 1);
  background-color: var(--bg-nav-link, rgb(0 0 0 / 0.25));
}
.nav-link.active::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 100%;
  background-color: white;
}
.sidebar.active .nav-link.has-menu:after {
  content: "\f31c";
  position: absolute;
  right: 1rem;
  font-family: "Phosphor";
}

.sidebar nav span{
  display: none;
}
.sidebar.active nav span{
  display: block;
}

@media (prefers-color-scheme: dark) {
  .nav-lists {
    --bg-nav-link: var(--bs-primary);
  }
}

@media (prefers-color-scheme: light) {
}
