* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.navbar .navbar-nav {
  gap: 4.875rem;
}
.navbar .nav-link {
  --bs-navbar-nav-link-padding-x: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: #3c016a;
}
.icon {
  width: var(--size, 1.5rem);
  height: var(--size, 1.5rem);
}
.title-custom {
  margin: 3rem 6rem 2rem 7.5rem;
}

.login-title {
  color: #3c016a;
  text-align: left;
  font-size: 46px;
}

.elipse {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70%;
  z-index: -1;
}

.elipse1 {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: 200px;
  height: 250px;
}

.elipse2 {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: 350px;
  height: 430px;
}

.elipse3 {
  position: absolute;
  bottom: 0;
  display: flex;
  bottom: 0px;
  right: 25%;
  left: 40%;
  margin-left: -150px;
}

.container-login {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0;
  gap: none;
}

.container-reg {
  margin: 2rem 6rem 0 6rem;
  max-width: 100%;
  padding: 0 0;
}

.img-log {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  width: 70%;
  height: 70%;
  margin-top: 170px;
  margin-right: 100px;
}

.img-reg {
  position: fixed;
  bottom: 0;
  right: 12rem;
  display: flex;
  width: 300px;
  height: 300px;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  /* padding: 5px; */
  border-radius: 10px;
  background-color: rgba(1, 0, 213, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
}

.login-content .input-div.one {
  margin-top: 0;
}

.form-custom {
  border: none;
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  background-color: rgba(1, 0, 213, 0.05);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.06);
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  font-family: "poppins", sans-serif;
}

.label-check {
  font-size: 12px;
  margin: 20px 0 20px 0;
}

.label-form {
  font-size: 12px;
  display: block;
  color: #898989;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 60px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 8px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #3c016a;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #3c016a;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.a-forgot {
  display: block;
  position: flex;
  text-align: left;
  text-decoration: none;
  color: #3c016a;
  font-size: 0.9rem;
  transition: 0.3s;
  width: 200px;
}

a:hover {
  color: #c59cf7;
}

.btn-login {
  display: block;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #3c016a;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 0 6rem 0 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn-signup {
  display: block;
  width: 30%;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #3c016a;
  background-size: 100%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
  background-color: #c59cf7;
}
.btn-signup:hover {
  background-position: right;
  background-color: #c59cf7;
}

.btn-primary {
  --bs-btn-bg: #6f16b6;
  --bs-btn-hover-bg: hsl(273, 78%, 30%);
  --bs-btn-border-width: none;
}

.btn-outline-primary {
  --bs-btn-color: #6f16b6;
  --bs-btn-border-color: currentColor;
}
.btn-log {
  --bs-btn-padding-x: 3.25rem;
  --bs-btn-padding-y: 0.875rem;
}

.col-forgot {
  width: 200px;
}
