:root {
  --container: 1200px;
  --nav-width: 4rem;
  --checkout-width: 20rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #efefef;
  font-family: sans-serif;
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  width: min(100% - 4rem, var(--container));
  margin-left: auto;
  margin-right: auto;
}
aside.navigation,
aside.checkout {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
aside.navigation {
  left: 0;
  display: flex;
  flex-direction: column;
  width: var(--nav-width);
}
aside.navigation a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efefef;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
aside.navigation a:hover::after,
aside.navigation a:focus:after {
  content: attr(data-title);
  left: 100%;
  position: absolute;
  color: #efefef;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  /* border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem; */
  background-color: var(--bg);
  transition: all 0.25s ease;
}
aside.navigation .company-logo:hover::after,
aside.navigation .company-logo:focus::after {
  display: none;
}
aside.checkout {
  right: 0;
  width: var(--checkout-width);
}
.checkout-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart-lists {
  flex-grow: 1;
}
.navbar {
  flex-grow: 1;
}
.navbar ul {
  list-style-type: none;
  padding-inline-start: 0;
}
.profil-user {
  display: flex;
  flex-direction: column;
}
main.main {
  margin-left: var(--nav-width);
  margin-right: var(--checkout-width);
}
aside {
  --bg: rgb(33, 126, 126);
  background-color: var(--bg);
  color: white;
}

.menu-list {
  list-style-type: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
.icons {
  width: 24px;
  height: 24px;
}
