/* Hero */
.hero {
  height: 80vh;
  color: var(--color-light);
}
.hero figure {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero img {
  height: inherit;
}
.hero figcaption {
  position: absolute;
  text-align: center;
  display: grid;
  place-items: center;
}
.hero .title {
  font-size: 3rem;
  max-width: 60%;
  margin-bottom: 1.5rem;
}
.hero .content {
  font-size: 1.2rem;
  max-width: 45%;
  margin-bottom: 1.5rem;
}
/* endHero */
