form p {
  margin-bottom: 0.25rem;
}
label {
  display: block;
  margin-bottom: 1rem;
}
.form-input {
  --color: #bbb;
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border: thin solid var(--color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-input::placeholder {
  color: var(--color);
}
.form-input:focus {
  --color: #555;
  outline: var(--color);
}
select.form-input {
  background: url(/assets/images/svg/chevron-down-solid.svg) no-repeat right
    #ddd;
  background-position-x: calc(100% - 0.5rem);
  background-size: 0.5rem;
}
.form-floating {
  position: relative;
}
.form-floating label {
  width: 100%;
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: .25rem;
  transition: 0.2s ease all;
}
.form-floating input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  border: none;
  border-bottom: thin solid white;
  outline: none;
  background: transparent;
}
.form-floating input:focus ~ label,
.form-floating input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ddd;
}

@media screen and (max-width: 480px) {
  form p {
    font-size: 1rem;
  }
  .form-floating input {
    text-align: center;
  }
} /* Mobile */

@media screen and (min-width: 481px) {
  form p {
    font-size: .75rem;
  }
}
