@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,700&display=swap");
@font-face {
  font-family: plusJakartaSans;
  src: url(/assets/fonts/PlusJakartaSans-2.6/static/PlusJakartaSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: plusJakartaSans;
  src: url(/assets/fonts/PlusJakartaSans-2.6/static/PlusJakartaSans-Bold.ttf);
  font-weight: bold;
}

/* Table of Contents */
/* Button, Global, Header, Promo Month, Career Path, Hero, Brand Story, Store Features */

:root {
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 20%);
  --color-base: hsl(44, 52%, 92%);
  --color-primary: hsl(205, 41%, 25%);
  --color-secondary: hsl(35, 32%, 55%);
  --color-danger: hsl(0, 49%, 51%);
  --font-family-title: "Cormorant Garamond", serif;
  --font-family-content: "plusJakartaSans", sans-serif;
  --font-base: 16px;
  --container: 1200px;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  font-size: var(--font-base);
  line-height: 1.5;
  color: var(--color-dark);
}
body {
  background-color: var(--color-base);
  font-family: var(--font-family-content);
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
img,
svg {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.img-circle {
  border-radius: 50% !important;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
figure {
  position: relative;
  height: 100%;
}
figure img {
  object-fit: cover;
}
a {
  /* font-weight: 700; */
  text-decoration: none;
}
table.separate {
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}
table.collapse {
  border-collapse: collapse;
}
td {
  vertical-align: baseline;
}
.container {
  max-width: min(100% - 2rem, var(--container));
  margin-left: auto;
  margin-right: auto;
}
.container-news {
  --container: 60rem;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-family-title);
  line-height: 1.1;
}
.content {
  font-family: var(--font-family-content);
}
.object-cover {
  object-fit: cover !important;
}
.font-smaller {
  font-size: smaller !important;
}
.font-larger {
  font-size: larger !important;
}
.full-width {
  width: 100% !important;
}
.full-height {
  height: 100% !important;
}
.d-flex {
  display: flex !important;
}
.d-grid {
  display: grid !important;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.text-center {
  text-align: center !important;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}
.text-normal {
  font-weight: normal !important;
}
.text-bold {
  font-weight: bold !important;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.icon {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
}
.icon-share {
  --size: 1.5rem;
}
.icon-share:hover {
  filter: brightness(0.9);
}
.icon-twitter {
  color: hsl(203, 89%, 53%);
}
.icon-facebook {
  color: hsl(220, 46%, 48%);
}
.icon-linkedin {
  color: hsl(201, 100%, 35%);
}
.outlet-lists details {
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
}
.outlet-lists summary {
  position: relative;
  list-style: none;
  font-family: var(--font-family-title);
  font-size: 2rem;
  font-weight: bold;
  border-bottom: thin solid rgb(0 0 0 / 0.2);
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
}
.outlet-lists summary::after {
  content: url(/assets/images/svg/plus-solid.svg);
  position: absolute;
  right: 1rem;
  bottom: 0rem;
  width: 1rem;
  transition: all 0.3s ease;
}
.outlet-lists details[open] summary::after {
  content: url(/assets/images/svg/minus-solid.svg);
}
.outlet-lists article {
  padding: 2rem 1rem 4rem;
}
.outlet-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.outlet-links .icon {
  --size: 1.5rem;
}
.outlet-links a {
  color: inherit;
}
.outlet-links .icon:hover {
  color: var(--color-danger);
}

.job-description {
  line-height: 2;
}
.job-description ul {
  list-style-type: initial;
}

/* Button */
.btn {
  --padding: 0.75rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
  font-family: var(--font-family-content);
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  /* overflow: hidden; */
  box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
  transition: all 0.2s ease;
}
/* .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: inherit;
  background-color: #c04545;
  z-index: 1;
}
.btn:hover::before {
  transform: translateX(0);
} */
.btn-pill {
  border-radius: calc(var(--padding) * 3);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-primary,
.btn-secondary {
  color: white;
}
.btn-primary {
  background-color: var(--color-primary);
}
.btn-secondary {
  background-color: var(--color-secondary);
}
.btn-light {
  color: var(--color-dark);
  background-color: white;
}
.btn-outline-light {
  color: var(--color-primary);
  border: 1px solid currentColor;
}
.btn-outline-light:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-light:hover {
  color: white;
  background-color: var(--color-danger);
}
/* endButton */

/* Global */
.main-header {
  font-family: var(--font-family-title);
  margin-bottom: 6rem;
  text-align: center;
}
.main-header img {
  width: 10rem;
  mix-blend-mode: multiply;
}
.main-content {
  margin-top: 6rem;
  margin-bottom: 5rem;
}
.see-more {
  display: flex;
  justify-content: center;
}
.grids {
  margin-bottom: 3rem;
}
.line-clamp {
  --line: 3;
  display: -webkit-box;
  -webkit-line-clamp: var(--line);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* endGlobal */

/* Header */
header {
  --height: 9rem;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: var(--height);
  background-color: white;
  box-shadow: 0px 1px 30px rgb(0 0 0 / 25%);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
header.scrolled {
  --height: 6rem;
}
header.scrolled img {
  transform: scale(calc(2 / 3));
  transition: scale 0.3s ease-in-out;
}
.navbar {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family-title);
}
.navbar ul {
  display: inherit;
}
.navbar li {
  padding: 0.625rem 1.25rem;
}
.navbar a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--color-dark);
}
.navbar a.active {
  font-style: italic;
  font-weight: bold;
}
.navbar a.active,
.navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}
header.home {
  background-color: transparent;
  box-shadow: none;
  margin-top: calc(var(--height) * -1);
}
header.home.scrolled {
  background: white;
  box-shadow: 0px 1px 30px rgb(0 0 0 / 25%);
}
header.home .navbar a {
  color: var(--color-light);
}
header.home.scrolled .navbar a {
  color: var(--color-dark);
}
/* endHeader */

/* Hero */
.hero {
  height: 80vh;
  color: var(--color-light);
}
.hero figure {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero img {
  height: inherit;
}
.hero figcaption {
  position: absolute;
  text-align: center;
  display: grid;
  place-items: center;
}
.hero .title {
  font-size: 3rem;
  max-width: 60%;
  margin-bottom: 1.5rem;
}
.hero .content {
  font-size: 1.2rem;
  max-width: 45%;
  margin-bottom: 1.5rem;
}
/* endHero */

/* DB News */
.db-news {
  --swiper-theme-color: var(--color-dark);
  --swiper-navigation-size: 2rem;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
  background: var(--color-light);
}
.db-news .container {
  position: relative;
}
.db-news .db-title {
  display: flex;
  justify-content: center;
  color: var(--color-dark);
  overflow: hidden;
}
.db-title .title {
  position: relative;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  margin-bottom: 3rem;
}
.db-title .title::before,
.db-title .title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 200%;
  height: 1px;
  background-color: var(--color-dark);
}
.db-title .title::before {
  left: -200%;
}
.db-title .title::after {
  right: -200%;
}
.swiper-button-prev.news-prev {
  left: -4rem;
}
.swiper-button-next.news-next {
  right: -4rem;
}
.news-thumbnail .swiper-slide {
  background-color: white;
}
.news-thumbnail img {
  aspect-ratio: 5/4;
}
.news-thumbnail figcaption {
  padding: 2.5rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-thumbnail .title {
  --line: 2;
  height: 5rem;
}
/* endDB News */

/* Swiper */
.swiper {
  --swiper-theme-color: var(--color-light);
}
/* endSwiper */

/* Brand Story */
.brand-story {
  height: 100vh;
  background-color: var(--color-secondary);
  padding-top: 15vmin;
  padding-bottom: 15vmin;
}
.brand-story figure {
  display: flex;
}
.brand-story img,
.brand-story figcaption {
  width: 50%;
}
.brand-story figcaption {
  padding: 2rem 3rem;
}
.brand-story .title,
.brand-story .content {
  margin-bottom: 1.5rem;
}
/* endBrand Story */

/* Store Features */
.store-features li {
  height: calc(250vh / 3);
  color: white;
}
.store-features li + li {
  margin-top: 5rem;
}
.store-features figure {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.store-features figcaption {
  position: relative;
  top: 5rem;
  max-width: 30rem;
}
.store-features .arrow {
  font-size: 3rem;
}
.store-features .subtitle {
  margin-bottom: 2.5rem;
}
/* endStore Features */

/* Promo */
.promo-month .promo-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.25rem;
}
.promo-lists figure {
  text-align: center;
}
.promo-lists figure > img {
  aspect-ratio: 1/1;
  height: auto;
  margin-bottom: 1.5rem;
}
.promo-lists .title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.promo-lists figcaption {
  padding-bottom: 2rem;
}
/* endPromo */

/* Career */
.presents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  text-align: left;
}
.presents img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.career-path ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.career-path li {
  padding: 2rem;
  background-color: white;
  border: 1px solid currentColor;
}
.career-path .title {
  margin-bottom: 1rem;
}
.career-path .content {
  margin-bottom: 1.5rem;
}
.career-path .btn {
  font-size: 0.75rem;
}
/* endCareer */

/* Main Products */
.main-products {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}
.main-products aside {
  width: 20rem;
}
.products-lists-filter {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.products-lists-filter li:last-child {
  margin-left: auto;
}
.products-lists-filter .filter {
  display: flex;
}
.products-sort {
  display: inline-flex;
}
.products-sort li + li {
  margin-left: 0.5rem;
}
.products-sort a {
  padding: 0.5rem;
  font-size: 0.75rem;
  background-color: white;
  cursor: pointer;
  /* border: thin solid #bbb; */
  transition: all 0.2s ease;
}
.products-sort a.active {
  background-color: var(--color-danger);
  color: white;
}
/* endMain Products */

/* News */
.news-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.news-lists figure {
  display: grid;
}
.news-lists img {
  aspect-ratio: 3/2;
  height: auto;
  margin-bottom: 1rem;
}
.news-lists a {
  width: max-content;
}
.news-lists .date {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.news-lists .title {
  margin-bottom: 1rem;
}
.news-lists .content {
  margin-bottom: 2rem;
}
.news-lists .title,
.news-lists .content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* endNews */

/* Menu Lists */
[data-toggle] {
  display: inline-flex;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
[data-toggle] + [data-toggle] {
  margin-left: 0.25rem;
}
[data-toggle].active {
  color: var(--color-light);
  background-color: rgb(150, 150, 150);
  cursor: default;
}
.products-filter a{
  cursor: pointer;
}
.products-filter li+li{
  margin-top: 1rem;
}
.products-lists-grid .display-list,
.products-lists-grid .display-grid {
  display: grid;
  gap: 4rem 2rem;
}
.products-lists-grid .display-grid {
  grid-template-columns: repeat(4, 1fr);
}
.products-lists-grid .display-grid img {
  margin-bottom: 0.5rem;
}
.products-lists-grid .btn {
  margin-top: 0.5rem;
  --padding: 0.4rem;
  font-size: 0.75rem;
}
.products-groups{
  margin-bottom: 5rem;
}
.display-grid img {
  height: auto;
  aspect-ratio: 3/4;
}
.display-list figure {
  display: flex;
  gap: 2rem;
}
.display-list img {
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 100%;
}
/* .display-grid li {
  aspect-ratio: 2/3;
} */
/* endMenu Lists */

.contact-grid {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 7rem;
}

.outlet-status {
  display: flex;
  gap: 3rem;
}
.outlet-status img {
  max-width: 8rem;
}
.outlet-stores {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}
.our-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -2rem;
  margin-right: -2rem;
}
.our-team li {
  width: 19%;
  margin: 2rem;
}
.our-team img {
  width: 8rem;
}
/* Footer */
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  color: var(--color-danger);
}
footer .contact {
  color: var(--color-light);
  background-color: var(--color-primary);
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}
footer .contact .footer-content {
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
}
footer .contact .title {
  font-size: 4rem;
}
footer .contact .content {
  max-width: 70%;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
footer .newsletter {
  color: var(--color-light);
  background-color: var(--color-secondary);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
footer .newsletter .footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
footer .newsletter .footer-content form {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
footer .form-floating {
  width: 100%;
}
footer input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: thin solid currentColor;
}
footer .navigation {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
footer .navigation .footer-content {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 4rem;
}
footer .navigation {
  display: flex;
  background-color: var(--color-base);
}
footer .navigation img {
  max-width: 10rem;
}
.footer-about {
  display: grid;
  gap: 1.5rem;
}
.footer-partnership {
  margin-left: -1rem;
  margin-right: -1rem;
}
.footer-partnership .icon {
  --size: 7rem;
  height: 5rem;
  mix-blend-mode: luminosity;
}
.footer-partnership li {
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer-socmed li + li {
  margin-left: 0.5rem;
}
.footer-socmed .icon {
  --size: 1.5rem;
}
.footer-socmed,
.footer-nav,
.footer-nav > ul,
.footer-partnership {
  display: flex;
}
.footer-nav {
  flex-direction: column;
  justify-content: center;
}
.footer-nav > ul {
  margin-bottom: 2rem;
}
.footer-nav > ul li + li {
  margin-left: 1rem;
  border-left: 1px solid var(--color-primary);
  padding-left: 1rem;
}
footer .copyright {
  text-align: center;
  font-size: 0.75rem;
}
/* endFooter */

@media screen and (min-width: 1441px) and (max-width: 1980px) {
  :root {
    --font-base: 20px;
    --container: 1440px;
  }
}
