@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,700&display=swap");

@import "/assets/css/global.css";
@import "/assets/css/utility.css";
@import "/assets/css/button.css";
@import "/components/header/style.css";
@import "/components/footer/style.css";
@import "/components/news/style.css";

@font-face {
  font-family: plusJakartaSans;
  src: url(/assets/fonts/PlusJakartaSans-2.6/static/PlusJakartaSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: plusJakartaSans;
  src: url(/assets/fonts/PlusJakartaSans-2.6/static/PlusJakartaSans-Bold.ttf);
  font-weight: bold;
}


.img-circle {
  border-radius: 50% !important;
}
.img-rect {
  aspect-ratio: 1/1;
}
.container {
  width: min(100% - 4rem, var(--container));
  margin-left: auto;
  margin-right: auto;
}
.container-news {
  --container: 60rem;
}
.title {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 600;
  font-family: var(--font-family-title);
  line-height: 1.1;
}
.content {
  font-family: var(--font-family-content);
}

.icon {
  --size: 1rem;
  max-width: var(--size);
  height: var(--size);
}
.icon-share {
  --size: 1.5rem;
}
.icon-share:hover {
  filter: brightness(0.9);
}
.icon-twitter {
  color: hsl(203, 89%, 53%);
}
.icon-facebook {
  color: hsl(220, 46%, 48%);
}
.icon-linkedin {
  color: hsl(201, 100%, 35%);
}

.job-description {
  line-height: 2;
}
.job-description ul {
  list-style-type: initial;
}


/* Global */
.main-header {
  font-family: var(--font-family-title);
  margin-bottom: 6rem;
  text-align: center;
}
.main-header img {
  width: 10rem;
  mix-blend-mode: multiply;
}
.main-content {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
.see-more {
  display: flex;
  justify-content: center;
}
.grids {
  margin-bottom: 3rem;
}
.line-clamp {
  --line: 3;
  display: -webkit-box;
  -webkit-line-clamp: var(--line);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* endGlobal */

/* Swiper */
.swiper {
  --swiper-theme-color: var(--color-light);
}
/* endSwiper */

/* Brand Story */
.brand-story {
  height: 100vh;
  background-color: var(--color-secondary);
  padding-top: 15vmin;
  padding-bottom: 15vmin;
}
.brand-story figure {
  display: flex;
}
.brand-story img,
.brand-story figcaption {
  width: 50%;
}
.brand-story figcaption {
  padding: 2rem 3rem;
}
.brand-story .title,
.brand-story .content {
  margin-bottom: 1.5rem;
}
/* endBrand Story */




@media screen and (max-width: 480px) {
  :root {
    --font-base: 12px;
    --container: 340px;
    --header-height: 6rem;
  }
  .view-mobile {
    display: block;
  }
  .view-desktop {
    display: none;
  }
  .swiper-button-prev.news-prev,.swiper-button-next.news-next {
    display: none;
  }
} /* Mobile */

@media screen and (min-width: 481px) {
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1980px) {
  :root {
    --font-base: 20px;
    --container: 1440px;
  }
}
