@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --color-dark: #333;
  --color-light: #eee;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

img[alt] {
  color: initial;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vmin;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  list-style-type: none;
}

.card {
  --size: 10rem;
  display: grid;
  width: var(--size);
  height: var(--size);
  /* background-color: white; */
  box-shadow: 0.05rem 0.1rem 0.2rem rgb(0 0 0 / 0.15),
    0.1rem 0.1rem 0.8rem 0.05rem rgb(0 0 0 / 0.1);
  border-radius: 0.25rem;
  overflow: hidden;
}

.card a {
  color: white;
}

.card figure {
  position: relative;
}

.card img {
  height: var(--size);
  object-fit: cover;
}

.card figcaption {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0.5rem;
  background-color: rgb(0 0 0 / 0.5);
  opacity: 0;
  transform: scale(2);
}

.card:hover img {
  filter: blur(2px);
  transition: all ease 300ms;
}

.card:hover figcaption {
  opacity: 1;
  transform: scale(1);
  transition: all ease 300ms;
  /* backdrop-filter: blur(2px); */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
}
