/* Footer */
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  color: var(--color-danger);
}
footer .contact {
  color: var(--color-light);
  background-color: var(--color-primary);
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}
footer .contact .footer-content {
  display: grid;
  place-items: center;
  text-align: center;
}
footer .contact .title {
  font-size: clamp(20px, 5vw, 4rem);
}
footer .contact .content {
  max-width: 70%;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
footer .newsletter {
  color: var(--color-light);
  background-color: var(--color-secondary);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
footer .newsletter .footer-content {
  display: grid;
  align-items: center;
}
footer .form-floating {
  width: 100%;
}
footer input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: thin solid currentColor;
}
footer .navigation {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
footer .navigation .footer-content {
  display: grid;
  gap: 4rem;
}
footer .navigation {
  display: flex;
  background-color: var(--color-base);
}
footer .navigation img {
  max-width: 10rem;
}
.footer-about {
  display: grid;
  gap: 1.5rem;
}
.footer-partnership {
  margin-left: -1rem;
  margin-right: -1rem;
}
.footer-partnership .icon {
  --size: 7rem;
  height: 5rem;
  mix-blend-mode: luminosity;
}
.footer-partnership li {
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer-socmed li + li {
  margin-left: 0.5rem;
}
.footer-socmed .icon {
  --size: 1.5rem;
}
.footer-socmed,
.footer-nav,
.footer-nav > ul,
.footer-partnership {
  display: flex;
}
.footer-nav {
  flex-direction: column;
  justify-content: center;
}
.footer-nav > ul {
  margin-bottom: 2rem;
}
.footer-nav > ul li + li {
  margin-left: 1rem;
  border-left: 1px solid var(--color-primary);
  padding-left: 1rem;
}
footer .copyright {
  text-align: center;
  font-size: 0.75rem;
}
/* endFooter */

@media screen and (max-width: 480px) {
  footer .navigation .footer-content {
    text-align: center;
    gap: 2rem;
  }
  footer .newsletter .title{
    text-align: center;
  }
  footer .newsletter .footer-content form {
    display: grid;
    text-align: center;
    gap: 3rem;
    padding-top: 4rem;
  }
  footer .navigation img {
    margin: auto;
  }
  .footer-socmed,
  .footer-nav,
  .footer-nav > ul,
  .footer-partnership {
    justify-content: center;
  }
} /* Mobile */

@media screen and (min-width: 481px) {
  footer .newsletter .footer-content {
    grid-template-columns: 1fr 1fr;
  }
  footer .newsletter .footer-content form {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
  footer .navigation .footer-content {
    grid-template-columns: 2fr 4fr;
  }
}
