@import url("./partials/header.css");
@import url("./partials/sidebar.css");
@import url("./partials/navigation.css");
@import url("./partials/form.css");

:root {
  --color-dark: #282828;
  --color-light: #efefef;
  --header-height: 3.5rem;
}
:root,
::after,
::before {
  --bs-primary: rgb(32, 131, 131);
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
}
#app {
  display: flex;
  min-height: 100vh;
}
.main-content {
  padding: 2rem 1rem;
}
.box {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  /* box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075); */
}

[data-search] {
  position: relative;
}
[data-search] > button {
  position: absolute;
  top: 0;
  right: 0;
}

[data-notif] {
  position: relative;
}
[data-notif]::after {
  --size: 1rem;
  content: attr(data-count);
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  color: white;
  background-color: var(--bs-danger);
}

[data-tooltip] {
  position: flex;
  color: red;
}
[dats-tooltip]:hover {
  color: blue;
}

dialog::backdrop {
  background: #d74e21b6;
}

.timeline {
  display: flex;
  flex-direction: column;
}
.timeline li {
  padding-left: 1rem;
  border-left: thin solid red;
}

@media (prefers-color-scheme: dark) {
  #app {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
  .btn {
    --bs-btn-color: white;
  }
  .box {
    background-color: #363636;
    /* border: thin solid #eaeaea; */
  }
}

@media (prefers-color-scheme: light) {
  #app {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
  .btn {
    --bs-btn-color: #333;
  }
  .box {
    background-color: white;
    /* border: thin solid #eaeaea; */
  }
}
