:root {
  --header-height: 3.5rem;
  --sidebar-width: 5rem;
  --sidebar-width-active: 15rem;
}
:root,
::after,
::before {
  --bs-primary: rgb(32, 131, 131);
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
}

#app {
  display: flex;
  min-height: 100vh;
  background-color: #efefef;
}

.form-control,
.form-select {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(13 110 253 / .1);
}

.sidebar {
  position: fixed;
  top: var(--header-height);
  width: var(--sidebar-width);
  height: calc(100% - var(--header-height));
  background-color: var(--bs-primary);
  padding: 2rem 1rem 3rem;
  overflow-y: scroll;
}
.sidebar.active {
  width: var(--sidebar-width-active);
}
.sidebar hr {
  filter: invert(1);
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075);
  padding-left: 1rem;
  padding-right: 1rem;
}
main {
  padding-top: var(--header-height);
  margin-left: var(--sidebar-width-active);
}
.main-content {
  padding: 2rem 1rem;
}
ul {
  list-style: none;
  padding: 0;
}

.nav-link {
  --bs-nav-link-padding-y: 0.75rem;
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-color: rgb(255 255 255 / 0.6);
  position: relative;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0.75rem;
  align-items: center;
  margin-left: -1rem;
  margin-right: -1rem;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  --bs-nav-link-hover-color: rgb(255 255 255 / 1);
  background-color: rgb(0 0 0 / 0.25);
}
.nav-link.has-menu:after {
  content: "\f31c";
  position: absolute;
  right: 1rem;
  font-family: "Phosphor";
}
.box {
  padding: 1rem;
  background-color: white;
  border: thin solid #eaeaea;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  /* box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075); */
}

[data-search] {
  position: relative;
}
[data-search] > button {
  position: absolute;
  top: 0;
  right: 0;
}

[data-notif] {
  position: relative;
  color: red;
}
[data-notif]::after {
  --size: 1rem;
  content: attr(data-count);
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  color: white;
  background-color: var(--bs-danger);
}

[data-tooltip] {
  position: relative;
  color: red;
}
[dats-tooltip]:hover {
  color: blue;
}
