body {
  --bs-body-font-size: 0.875rem;
  padding-block-end: 5rem;
}

.icon {
  width: var(--size, 1.5rem);
  height: var(--size, 1.5rem);
}
.btn-side,
.btn-cliqe {
  --bs-btn-bg: #0100d50d;
  --bs-btn-hover-bg: #0000d626;
  --bs-btn-border-width: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-side {
  --bs-btn-color: var(--color-primary);
  width: 3.5rem;
  aspect-ratio: 1/1;
}

.btn-cliqe {
  --bs-btn-color: #6f16b6;
  --bs-btn-hover-color: #6f16b6;
  --bs-btn-box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.1);
  --bs-btn-border-radius: 0.625rem;
  height: 3rem;
  box-shadow: var(--bs-btn-box-shadow);
}

.box {
  border-radius: 1.25rem;
  background-color: white;
  box-shadow: 0 0.25rem 1.25rem #0004;
}

.box-grad {
  background-image: linear-gradient(
    to bottom,
    rgb(var(--color-red) var(--color-green) var(--color-blue) / 0),
    rgb(var(--color-red) var(--color-green) var(--color-blue) / 0.2)
  );
}
.box-grad.box-grad-1 {
  --color-red: 12;
  --color-green: 87;
  --color-blue: 251;
}
.box-grad.box-grad-2 {
  --color-red: 1;
  --color-green: 0;
  --color-blue: 124;
}
.box-grad.box-grad-3 {
  --color-red: 0;
  --color-green: 194;
  --color-blue: 160;
}
.box-grad.box-grad-4 {
  --color-red: 255;
  --color-green: 138;
  --color-blue: 0;
}

.profile-copy {
  display: inline-block;
  width: 100%;
  padding-block: 0.625rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 0.625rem;
  background-color: #0100d50d;
}

.img-profile {
  width: var(--width);
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}

.card-insights {
  list-style-type: none;
  padding-inline-start: 0;
}

.card-insights .card-insight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  aspect-ratio: 1/1;
}
.card-insight .insight-head {
  font-size: var(--bs-body-font-size);
  font-weight: 400;
}
.insight-circle {
  box-sizing: content-box;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 0.25rem rgb(0 0 0 /0.25);
  background-color: rgb(var(--color-red) var(--color-green) var(--color-blue));
}
.insight-circle.insight-circle-1 {
  --color-red: 12;
  --color-green: 87;
  --color-blue: 251;
}
.insight-circle.insight-circle-2 {
  --color-red: 1;
  --color-green: 0;
  --color-blue: 124;
}
.insight-circle.insight-circle-3 {
  --color-red: 0;
  --color-green: 194;
  --color-blue: 160;
}
.insight-circle.insight-circle-4 {
  --color-red: 255;
  --color-green: 138;
  --color-blue: 0;
}

.card-profile {
  --padding: 0;
  overflow: hidden;
}
.card-profile .card-profile-header {
  --height: 8.25rem;
  position: relative;
  height: var(--height);
  background-image: url("../../assets/images/pexels-dimitri-dim-1802183\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-profile .card-profile-header .img-profile {
  --width: 7.75rem;
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: content-box;
  background-color: white;
  border: 0.625rem solid white;
}
.card-profile .card-profile-header .img-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-profile .card-profile-body {
  --padding: 1.5rem;
  padding-block: 4.5rem;
  padding-inline: var(--padding);
}
.card-profile-body .name {
  font-weight: 700;
  font-size: 1.125rem;
}
.card-profile-body address {
  font-style: revert;
}

.card-profile.card-profile-big {
  --padding-start: 4.5rem;
}
.card-profile.card-profile-big .card-profile-header {
  --height: 16rem;
}
.card-profile.card-profile-big .card-profile-header .img-profile {
  --width: 11.75rem;
  left: var(--padding-start);
  bottom: -3.75rem;
  transform: translateX(0);
}
.card-profile.card-profile-big .card-profile-header,
.card-profile.card-profile-big .card-profile-body {
  --padding: var(--padding-start) 3.5rem;
}

.connect-tab .nav-tabs {
  border-radius: 3rem;
  overflow: hidden;
}
.connect-tab .nav-link {
  --bs-nav-link-color: black;
  --bs-nav-tabs-link-active-color: white;
  --bs-nav-tabs-link-active-bg: #0100d580;
  border-radius: 3rem;
  width: 100%;
}
.connect-tab .tab-pane {
  padding-block: 2rem;
}
.card-peoples {
  list-style-type: none;
  padding-inline-start: 0;
}
.card-peoples .card-people + .card-people {
  margin-block-start: 1rem;
}
.card-peoples .card-people img {
  aspect-ratio: 1/1;
}

.status{
  --size:.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  aspect-ratio: 1/1;
  color: white;
  border-radius: 50%;
}
.status.status-complete{
  background-color: green;
}
.status.status-incomplete{
  background-color: red;
}