.offcanvas-side {
  --bs-offcanvas-bg: #f2f2fd;
  font-size: 1rem;
  padding-block: 3.375rem;
  padding-inline: 1.875rem 5rem;
}

.offcanvas-backdrop {
  background-color: unset;
}
.offcanvas-side .offcanvas-header {
  color: var(--color-primary);
}
.nav-sidebar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 2rem;
}

.nav-sidebar a {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: .75rem;
  padding-block: 0.5rem 0.875rem;
  padding-inline: 1.25rem 1.75rem;
  color: var(--color-secondary);
  border-radius: 10px;
  text-align: end;
  text-decoration: none;
}
.nav-sidebar a.active {
  background-image: linear-gradient(to right, #fff0, #ffffffe6);
}
