/* Menu Lists */
[data-toggle] {
  display: inline-flex;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
[data-toggle] + [data-toggle] {
  margin-left: 0.25rem;
}
[data-toggle].active {
  color: var(--color-light);
  background-color: rgb(150, 150, 150);
  cursor: default;
}
.products-filter a {
  cursor: pointer;
}
.products-lists-grid .display-list,
.products-lists-grid .display-grid {
  display: grid;
  gap: 4rem 2rem;
}
.products-lists-grid .display-grid img {
  margin-bottom: 0.5rem;
}
.products-lists-grid .btn {
  margin-top: 0.5rem;
  --padding: 0.4rem;
  font-size: 0.75rem;
}
.products-groups {
  margin-bottom: 5rem;
}
.display-grid img {
  height: auto;
  aspect-ratio: 3/4;
}
.display-list figure {
  display: flex;
  gap: 2rem;
}
.display-list img {
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 100%;
}
/* .display-grid li {
    aspect-ratio: 2/3;
  } */
/* endMenu Lists */

/* Main Products */
.main-products {
  display: grid;
  gap: 2rem;
}
.products-lists-filter {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.products-lists-filter li:last-child {
  margin-left: auto;
}
.products-lists-filter .filter {
  display: flex;
}
.products-sort {
  display: inline-flex;
}
.products-sort li + li {
  margin-left: 0.5rem;
}
.products-sort a {
  padding: 0.5rem;
  font-size: 0.75rem;
  background-color: white;
  cursor: pointer;
  /* border: thin solid #bbb; */
  transition: all 0.2s ease;
}
.products-sort a.active {
  background-color: var(--color-danger);
  color: white;
}
.products-card figure {
  padding: .5rem;
  background-color: white;
  border: thin solid currentColor;
}
/* endMain Products */

@media screen and (max-width: 480px) {
  .products-filter {display: flex; margin-bottom: 3rem;}
  .products-filter li + li {
    margin-left: .5rem;
  }
  .products-filter a{
    color: var(--color-primary);
    display: inline-block;
    padding: .75rem 1.25rem;
    border: thin solid currentColor;
    border-radius: 2rem;
  }
  .products-filter a.active{
    color: white;
    background-color: var(--color-danger);
    border-color: var(--color-danger);
  }
  .products-lists-grid .display-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 481px) {
  .main-products {
    grid-template-columns: auto 1fr;
  }
  .main-products aside {
    width: 20rem;
  }
  .products-filter li + li {
    margin-top: 1rem;
  }
  .products-lists-grid .display-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
